Flask==1.1.4        # Compatible with Werkzeug 0.16.1
Jinja2==3.0.3
MarkupSafe==2.0.1
itsdangerous==1.1.0 # Compatible with Flask 1.1.4
Werkzeug==0.16.1    # Compatible with Flask 1.1.4
Click==7.1.2        # Compatible with Flask 1.1.4
flask-mysql==1.5.1
